{# If you have a form for footer in contentstack.io then use get() view helper to retrive footer entry. #}
{# e.g. set footer = get("footer_form_id") #}
{# And then render footer values using the {{footer.field_name}} #}

<footer class="container_fluid ">

		<div class="container footer_columns">
			<div class="col-md-3">
				<ul>
					<li class="footer_title">{{entry.footer.products.title}}</li>
					{% for entry in entry.footer.products.items -%}
					<li>{{entry.title}}</li>		

					{%- endfor %}
				</ul>

			</div>
			<div class="col-md-3">
					<ul>
					<li class="footer_title">{{entry.footer.learn.title}}</li>
					{% for entry in entry.footer.learn.items -%}
					<li>{{entry.title}}</li>		

					{%- endfor %}
				</ul>
			</div>
			<div class="col-md-3">
					<ul>
					<li class="footer_title">{{entry.footer.company.title}}</li>
					{% for entry in entry.footer.company.items -%}
					<li>{{entry.title}}</li>		

					{%- endfor %}
				</ul>

			</div>
			<div class="col-md-3">
					<ul>
					<li class="footer_title">{{entry.footer.connect.title}}</li>
					<span>
					{% for entry_re in entry.footer.connect.items -%}
					
					<img alt="Brand" src="{{getImageUrl(entry_re.images)}}" />{{entry_re.items}}	

					{%- endfor %}</span>	
				</ul>

			</div>

			
		</div>
		<div class="container bottom_line">
			
			<span>{{entry.footer.privacy_policy}}</span> | <span>{{entry.footer.t_c}}</span>
			<span class="fright">{{entry.footer.copy_right}}</span>

			<img class="footer_logo " alt="Brand" src="{{getImageUrl(entry.footer.footer_logo)}}" />
		
		
		</div>
		
		
		

</footer>